ProyectoOmegaCliente/src/conf/xml-resources/web-service-references/registros/wsdl/localhost_8080/registros/registros.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="crearRegistro" type="tns:crearRegistro"/>

<xs:element name="crearRegistroResponse" type="tns:crearRegistroResponse"/>

<xs:element name="editarRegistro" type="tns:editarRegistro"/>

<xs:element name="editarRegistroResponse" type="tns:editarRegistroResponse"/>

<xs:element name="eliminarRegistro" type="tns:eliminarRegistro"/>

<xs:element name="eliminarRegistroResponse" type="tns:eliminarRegistroResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="obtenerRegistros" type="tns:obtenerRegistros"/>

<xs:element name="obtenerRegistrosResponse" type="tns:obtenerRegistrosResponse"/>

<xs:element name="obtenerTablasUsuario" type="tns:obtenerTablasUsuario"/>

<xs:element name="obtenerTablasUsuarioResponse" type="tns:obtenerTablasUsuarioResponse"/>

<xs:complexType name="obtenerRegistros">
<xs:sequence>
<xs:element name="nombreTabla" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerRegistrosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerTablasUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerTablasUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRegistro">
<xs:sequence>
<xs:element name="nombreTabla" type="xs:string" minOccurs="0"/>
<xs:element name="lave" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRegistroResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRegistro">
<xs:sequence>
<xs:element name="nombreTabla" type="xs:string" minOccurs="0"/>
<xs:element name="datosTupla" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearRegistroResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarRegistro">
<xs:sequence>
<xs:element name="nombreTabla" type="xs:string" minOccurs="0"/>
<xs:element name="llave" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nuevosDatos" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarRegistroResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>